
header{
    flex-direction: column;
    display: flex; 
    justify-content: center;  /*垂直对齐为中央*/
	align-items: center; /*水平对齐为中央*/
	height:370px;       
	width: 100%;  
}

    header img {
        text-align: center;
          width: 150px; /* 设置图片宽度 */
          height: auto; /* 高度自动调整以保持比例 */
          border-radius: 50%; /* 如果需要，设置为圆形 */
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), /* 白色发光 */
                      0 0 30px rgba(255, 255, 255, 0.6), /* 更强的白色发光 */
                      0 0 40px rgba(255, 255, 255, 0.8); /* 绿色发光 */
          transition: box-shadow 0.3s; /* 添加过渡效果 */
         margin-top: 55px;
      }

      header img:hover {
          box-shadow: 0 0 30px rgba(255, 255, 255, 1), /* 悬停时更强的白色发光 */
                      0 0 40px rgba(255, 255, 255, 0.8), /* 更强的白色发光 */
                      0 0 50px rgb(241, 241, 241); /* 悬停时更强的绿色发光 */
      }
     
header a{   
    border: 1px solid;
    padding: 10px 30px;
  font-size: 26px; 
  border-radius: 15px;    
	color:white;
	text-decoration: none;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
} 
header a:hover{
	text-decoration: underline;
}
header ul{
  display: flex;
            justify-content: center; 
            list-style: none;
            padding: 0; 
            margin: 10px; 
}
header li{
	display:inline;
	margin-right:3vw; 
}
header h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color:white;
  margin-top: 30px;
    margin-bottom: 5px;
}
header p{
    color:aliceblue;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 5 px;
  }
.intro{
    flex-direction: column;
    border-radius: 10%;
    display: flex; 
	align-items: center;
	height:470px;       
	width: 100%;  
 margin-top: 10px;
 /* background-color: rgb(115, 141, 141); */
}
.intro h1{
    margin-bottom: 10px;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(15, 15, 15, 0.7);
    color:aliceblue;
}
.intro h2{
    font-family: KaiTi;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(15, 15, 15, 0.7);
    color:aliceblue;
    margin: 5px;
    line-height: 1.5em;
}
.intro a{
    font-family: "SimSun", "宋体", serif;
    border: 2px solid;
    padding: 10px 30px;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(15, 15, 15, 0.7);
    color:aliceblue;
    margin: 5px;
    line-height: 1.5em;
    text-decoration: none;    border-radius: 30px;
}
.intro a:hover{
	text-decoration: underline;
}
.intro h3{
    font-family:KaiTi;
    font-size: 45px;
    text-shadow: 4px 4px 4px rgba(10, 10, 24, 0.26);
    color:aliceblue;
    margin: 5px;
    line-height: 1.5em;
}
